<section class="section">
    <div class="container">
        <h1>Liste d'utilisateurs :</h1>
        <div class="columns is-multiline">
            <!-- user loop -->
            <div class="column is-4" *ngFor="let user of users | async">
                <div class="card">
                    <div class="card-content">
                        <a routerLink="/users/{{user.login}}">{{user.login}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>